.discount-image {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  object-fit: cover;
  padding-bottom: 15px;
}

.img-container {
  width: 100%;
  height: 420px;
  padding: 0 15px;
}

@media (max-width: 720px) {
  .discount-container {
    display: flex;
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 721px) {
  .discount-container {
    display: flex;
    flex-direction: row;
  }
}

h4,
h3,
p,
.rates,
.action {
  margin: 15px 10px;
}

.action {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.user-image {
  width: 40px;
  height: 40px;
}

.review {
  width: 70%;
  border: 0.5px solid black;
  border-radius: 5px;
  margin: 20px;

  .user-image {
    width: 40px;
    height: 40px;
  }

  .comment {
    font-size: 18px;
    line-height: 1.3em;
    align-self: flex-end;
    width: 55%;
  }

}
