.discount-image {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  object-fit: cover;
  padding-bottom: 15px;
}

.discount-page-container,
.reviews-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-subtitle {
  font-size: 1.1rem;
  padding-bottom: .9rem;
  color: rgb(61, 69, 77);
  display: block;
}

.discount-icon {
  margin-right: .5rem;
}

.discount-info {
  font-weight: 700;
}

.discount-no-reviews {
  font-weight: 700;
  margin: 1rem 0;

}

.img-container {
  width: 100%;
  height: 280px;
}

.column {
  display: flex;
  justify-content: space-between;
}

h4,
h3,
p,
.action {
  margin: 0 10px;
}

.action {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.stars-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .average-rating {
    font-size: 50px;
    font-weight: 700;

  }
}

.bars-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rating-numbers {
    margin-right: 10px;

    .rating-numbers-item {
      font-weight: 700;
      font-size: 22px;
    }
  }


  .progress-bar-container {
    width: 23vw;
    margin: 17px 0;
  }
}

.feedback-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .discount-page-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .img-container {
    width: 100%;
    height: auto;
  }

  .bars-container {
    .progress-bar-container {
      width: 36vw;
    }
  }
}