@media (max-width: 720px) {
  .discount-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .img-container {
    width: 100%;
    padding: 100px 10px;
    height: 100%;
  }
}

@media (min-width: 721px) {
  .discount-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
}
.img-container {
  background-color: #c4c4c4;
  width: 95%;
  height: 95%;

  border-radius: 20px;
  text-align: center;
}
h4,
h3,
p,
.rates,
.action {
  margin: 20px 10px;
}

.action {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.show {
  display: block;
}
.hide {
  display: none;
}
