.discount-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 50px 70px;
  width: 100%;
}
.discount-col {
  width: 50%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.load-img {
  text-align: end;
}
.date-headers {
  margin-left: 14px;
  padding-top: 5px;
}

.file {
  cursor: pointer;
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 247px;
  margin-left: 30px;
  padding-top: 10px;
}
#file {
  display: none;
}
.description {
  margin-top: 100px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.description-text {
  resize: none;
  padding: 10px;
  height: 186px;
  border-radius: 20px;
  outline: none;
}
.btn-field {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-field {
  outline: none;
  border: 1px solid black;
  border-radius: 20px;
  width: 400px;
  height: 44px;
  padding-left: 10px;
}
.radio-box {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.radio-box > div > label {
  margin-left: 5px;
  font-size: 20px;
}
.btn {
  border-radius: 20px;
  padding: 10px 40px;
}
