.catalog-wrapper {
  margin-top: 2rem;
}

.promotions-list {
  min-height: 100vh;
}

.search {
  margin-top: 3rem;
}

.btn-wrapper {
  margin: 0.5rem 0;
}

.search-container-wrapper {
  display: flex;
  flex-direction: row;
}

@media (min-width: 721px) {
  .add-discount-btn-wrapper {
    text-align: end;
  }
}

@media (max-width: 720px) {
  .search-container-wrapper {
    flex-direction: column;
  }
  .add-discount-btn {
    width: 50%;
    margin-top: 10px;
  }

  .add-discount-btn-wrapper {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .add-discount-btn {
    width: 55%;
  }
}
