.product-card {
  margin: 20px 0;
<<<<<<< HEAD:src/components/product-card/styles.scss
  padding: 15px;
  max-width: 400px;
  min-width: 300px;
  min-height: 300px;
  border: 1px solid #000;
=======
  padding: 10px;
  width: 320px;
  min-height: 300px;
>>>>>>> 2a1f8638b99f52a45ab3317439d128ea393a4788:src/components/product-card/styles.css
}

.card-title {
  color: rgb(61, 69, 77);
}
a {
  text-decoration: none !important;
}

.product-image {
  height: 150px;
  object-fit: cover;
}

.product-actuality {
  text-align: end;
}
.text-decoration {
  text-decoration: none;
  color: black;
}
.text-decoration:hover {
  text-decoration: none;
  color: black;
}

.product-description,
.product-footer {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-feedback {
  margin: 0;
  padding: 8px;
  width: 100%;
}

.product-discount {
  width: 30%;
  text-align: center;
}

.product-footer {
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 720px) {
  .product-card {
    width: 100%;
  }

}

.fav-icon{
      position: absolute;
      top: 35px;
      right: 15px;
      width: 40px;
      color: #FF0000;
      cursor: pointer;
    
}