.product-card {
  margin: 20px 0;
  padding: 10px;
  width: 310px;
  min-height: 300px;
}

.card-title {
  color: rgb(61, 69, 77);
  min-height: 48px;
}
a {
  text-decoration: none !important;
}

.card-title-items{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product-image {
  height: 150px;
  object-fit: cover;
}

.product-actuality {
  text-align: end;
}
.text-decoration {
  text-decoration: none;
  color: black;
}
.text-decoration:hover {
  text-decoration: none;
  color: black;
}

.product-feedback {
  margin-top: 10px;
  width: 90%;
}

.product-footer {
  text-align: center;
  margin-bottom: 10px;
}



.fav-icon {
  transform: translateY(5px);
  width: 48px;
  color: #ff0000;
  cursor: pointer;
}

.image-block {
  position: relative;
}

.expiration-badge {
  background-color: rgba(255, 193, 7, 1);
  color: #fff;
  position: absolute;
  top: 130px;
  left: 138px;
  width: 150px;
}

@media (max-width: 720px) {
  .product-card {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .expiration-badge{
    left: 0;
  }
}
