.companyInfo  {
    border-radius: 15px;
    height: 200px;
    padding: 10px;
    align-self: center;
    margin-right:10%;
    margin-left:10%;
    margin-bottom: 10px;
    background-color:azure; 
}

.company-info-block {
    background-color: forestgreen;
}

.company-info-logo {
    margin: 10px;   
}

.list-group {
    border:none;
}