.catalog-title {
  margin: 30px 0;
  text-align: center;
}

.catalog-wrapper{
  min-height: 100vh;
}

.container .filter-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input {
  width: 100%;
}

.search-container {
  position: relative;
  width: 50%;
  margin-bottom: 40px;
}

.catalog-filters {
  width: 50%;
  display: flex;
  gap: 18px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.catalog-selects {
  max-width: 32%;
  min-width: 32%;
  height: 40px;
}

.search-icon {
  position: absolute;
  right: 11px;
  padding: 5px;
  background-color: #88f1ff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.discounts-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  justify-items: center;
}
.btn-wrapper {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .catalog-selects {
    min-width: 100%;
  }
  .catalog-filters {
    display: flex;
    flex-direction: column;
  }
  .discounts-wrapper{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}