.profile {
  max-width: 80%;
  max-height: 80vh;
  display: flex;
  justify-content: space-between;
  // margin-top: 3rem;

  .profile-img {
    max-width: 50%;
    margin-bottom: 1.5rem;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    flex: 1;

    .filled-in {
      font-weight: bold;
    }

    .personal-info-title {
      margin-left: 0;
    }

    div {
      margin-bottom: 1rem;
    }
    .location {
      .location-country {
        margin-top: 1rem;
      }
    }
  }
  .user-subscriptions {
    display: flex;
    flex-direction: column;

    .subscriptions-title {
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
     
    }
    .category-title{
      font-size: 1rem;
      font-weight: 500;
    }
    .subscriptions-btn {
      margin: 1.5rem 0;
    }
  }
}

@media (max-width: 768px) {
  .profile {
    max-width: 100%;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    .profile-info {
      align-items: center;
      padding-left: 0;
    }
    .personal-info-title{
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .personal-info{
      display: flex;
      align-items: center;
      justify-content: center;
      .profile-img {
        max-width: 30%;
        margin-right: 1rem;
      }

    }
    .user-subscriptions {
      text-align: center;
      margin-top: 1rem;
      .subscriptions-title {
        font-size: 1.2rem;
      }
      
    }
  }
}
