.tags {
  margin: 0 45px;
  /* padding: 10px; */
  text-align: start;
}

.tag-container {
  margin-left: 50px;
}

.tag-wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-input {
  margin-right: 15px;
}