.error-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 10%;
  width: 100%;
  margin: 40px;
}
.error-col {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.waiting {
  width: 450px;
  height: 500px;
}
.error-text {
  width: 100%;
  font-size: 24px;
}

@media (max-width: 720px) {
  .error-container {
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  .error-col {
    width: 100%;
  }
  .waiting {
    padding: 10px;
    width: 100%;
    height: 400px;
  }
  .link-to-home {
    text-align: center;
  }
}
