.navbar {
  background-color: rgba(254, 254, 254, 1);

  .nav-wrapper {
    width: 1280px;
    padding: 5px 16px;

    .logo img {
      width: 150px;
    }

    .header-menu {
      justify-content: flex-end;
      .menu-link {
        margin-left: 15px;
        padding-top: 10px;
      }
    }

    .burger {
      text-align: center;
    }
  }
}
