.footer-container {
	margin: 50px auto 0;
	padding: 30px auto;
	text-align: center;
	border-top: 1px solid black;
}

.column {
	float: left;
	width: 25%;
  }  

  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .row {
	display: flex;
  }

  .lower {
	display: flex;
  }
  
  .column {
	flex: 25%;	
  }