@media (max-width: 720px) {
  .star-wrapper {
    position: absolute;
    top: 8px;
    right: 15px;
  }
}

@media (min-width: 721px) {
  .star-wrapper {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.favourite,
.common {
  font-size: 20px;
  fill: gold;
  cursor: pointer;
}

.common {
  fill: lightgray;
}

.card-wrapper {
  width: 100%;
}

.discount-description {
  height: 35px;
}
