.corporate-logo {
  width: 90px;
  height: 90px;
}
.company-logo {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.company-additional-info {
  display: flex;
  flex-direction: column;
}
.company-info-subtitle {
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.company-info-btn,
.address-field {
  margin-top: 1rem;
  width: 100%;
}

.company-info-textarea {
  resize: none;
}

.company-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100%;
}

.company-info-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.add-location-btn {
  margin-left: 15px;
}

.company-info-btn {
  width: 30%;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 720px) {
  .company-container {
    flex-direction: column-reverse;
  }
  .company-info-wrapper {
    width: 100%;
    padding: 0;
    margin-top: 15px;
  }
}

@media (max-width: 320px) {
  .company-info-btn {
    width: 55%;
  }
}
