.corporate-logo {
  width: 90px;
  height: 90px;
}
.company-logo {
  display: flex;
  flex-direction: column;
}

.company-additional-info {
  display: flex;
  flex-direction: column;
}
.company-info-subtitle {
  margin-top: 1rem;
}

.company-info-btn{
    margin: 1rem 2rem 0 0;
}

.company-info-textarea{
    resize: none;
}
.address-field{
    margin-bottom: 1rem;
}
