.corporate-logo {
  width: 90px;
  height: 90px;
}
.company-logo {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.company-additional-info {
  display: flex;
  flex-direction: column;
}
.company-info-subtitle {
  margin: 1rem 0 .3rem;
}

.company-info-btn, .address-field {
  margin-top: 1rem;
}

.company-info-textarea {
  resize: none;
}

