.info {
  background-color: rgb(255, 255, 255);
  color: #000;

  .about-company-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    padding: 1rem;

    &:nth-child(odd) {
      background-color: rgb(216, 215, 215);
    }
    p {
      font-size: 1.5rem;
    }

    img {
      max-width: 40%;
    }
  }
}

@media (max-width: 768px) {
  .about-company-block {
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem !important;
    padding: 0.5rem;

    p {
      margin-top: 1rem;
      max-width: 100%;
    }
  }
}

@media (max-width: 400px) {

    .about-company-block {
        padding: 0;
        p {
            font-size: .8rem !important;
        }
    }

}
