@use '../../variables/styles.scss'as main;
$text-color: main.$text-color;

.form-wrapper {
    width: 35%;
    margin: 30px auto;
    font-size: 20px;
    color: $text-color;

    .form-item {
        margin-bottom: 25px;
    }
}

.info {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 50px;
    margin-top: 30px;

    color: $text-color;

    .about-company-wrapper {
        font-size: 24px;
        font-weight: 500;
        line-height: 2em;
    }

    .statistics-wrapper {
        font-size: 24px;
        font-weight: 300;

        span {
            font-weight: 900;
            font-size: 35px;
        }
    }
}


@media screen and (max-width: 992px) {
    .form-wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {

    .form-wrapper {
        font-size: 16px;
        width: 70%;

        .form-item {
            margin-bottom: 15px;
        }
    }

    .info {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;

        .about-company-wrapper,
        .statistics-wrapper {
            font-size: 20px;
        }

        .statistics-wrapper span {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 578px) {
    .info {

        .about-company-wrapper,
        .statistics-wrapper {
            font-size: 17px;
        }

        .statistics-wrapper span {
            font-size: 20px;
        }
    }

}