.form-wrapper {
  margin: 100px auto;
  min-height: 100%;
  font-size: 1.3em;
  color: #000;

  .form-item {
    margin-bottom: 1rem;
    position: relative;
  }

  

  .password-input {
    display: flex;
    align-items: center;

    .password-show-icon {
      margin-left: -35px;

    
    }
  }

  label {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
  }
  .form-text {
    font-size: 0.8rem;
  }

  .auth-error{
    color: #9b1919;
    margin-top: 1.4em;
    text-align: center;
    .auth-error-message{
      margin-top: .3em;
      font-size: 15px;
    }
  }
 
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    text-align: center;
  }
}
